<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jakers.dissertation_work">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".subject"
            android:label="@string/subject_title">
        </activity>
        <activity
            android:name=".login"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/index_title"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".calendar" />
        <activity
            android:name=".contact"
            android:label="@string/contact_title"/>
        <activity
            android:name=".homework"
            android:label="@string/homework_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".map"
            android:label="@string/map_title"/>
    </application>
</manifest>